.DS_Store
vim/.netrwhist
vim/bundle
fish_history
fishd.*
fish_read_history
config/configstore
config/robomongo
config/yarn/global/node_modules

lein/repl-history
psysh_history
__pycache__

/gnupg/trustdb.gpg
/gnupg/pubring.*
/gnupg/private-keys-v1.d/
/gnupg/openpgp-revocs.d/

.netrwhist
config/coc/
